.fonback {
  background-color: purple;
  color: white;
}
.micol {
  padding-left: 25px;
}
.micol2 {
  background-color: #b04334;
  color: white;
}
.micol3 {
  background-color: #3a4b5d;
  color: white;
}
.micol4 {
  background-color: white;
}
.pieback {
  background-color: green;
}
